 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Roboto, sans-serif;
    color: #333;
    font-size: 16px;    
  }
  
 .container {
  background: #1F2937;
  height: 40px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .header-link, .aws-rect {
  width: 800px;
  display: flex;
  justify-content: space-between;
}


p.head {
  font-size: 18px;
}

ul {
  list-style-type: none;  
  display: flex;
}
.container ul li {
  margin-left: 20px;
}

.container a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 12px;
}

.header-container .awesome {
  font-size: 30px;
  font-weight: bolder;
}

.header-container {
  height: 200px;
  width: 100%;
  background: #1F2937;
display: flex;
justify-content: center;
align-items: center;
}

.header-container .rectangle {
  width: 350px;
  height: 120px;
  background: #898991;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-container .sec-text {
font-size: 12px;
}

.header-container .awesome-container {
  width: 350px;
  height: 120px;
  color: #f9faf8;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 10px 0;
  background: #3882F6;
  border: 1px solid #3882F6;
  color: #f9faf8;
  width: 100px;
}

button.sign-1 {
  border: 1px solid #f9faf8;
}

.boxes-container {
  display: flex;
  justify-content: center;
  width: 400px;
  margin:auto;
}

.boxes-container .bx {
  width: 100px;
  height: 100px;
  border: 1px solid #3882f6;
  border-radius: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.boxes-container .box {
  
  margin-left: 24px;
}

.boxes-container .text-1 {
  font-size: x-small;
  text-align: center;
}


  h2.text-2 {
  text-align: center;
  margin: 20px 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  width: 100%;
  height: 200px;
  flex-direction: column;
}

blockquote {
  font-size:larger;
  font-style: italic;
  color: #1F2937;
  width: 450px;
}

.main p {
  font-weight: bold;
  text-align: end;
  width: 400px;
}

.rectangle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.rectangle-container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3882F6;
  width: 800px;
  height: 100px;
  color: #f9faf8;
  border-radius: 5px;
  font-size: small;

}

 .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  width: 100%;
  height: 50px;
  color: #f9faf8;
  font-size: small;
}